{% extends 'base_template.html' %}
{% load static %}
{% block content %}
    <section class="main_section">
        <section class="form_section">
            {% if form.weight.value %}
                <h1 class="section_heading" >Update Order</h1>
            {% else %}
                <h1 class="section_heading" >Create Order</h1>
            {% endif %}
            <form class="form_flex" method="post">
                {% csrf_token %}
                {{ profile_type|json_script:"profile_type" }}
                {{ revenue|json_script:"revenue" }}
                <p id="errors_p" style="display: none" hidden="true"></p>
                <p>{{ form.weight.errors }}</p>
                <p>{{ form.weight.label }} [kg]</p>
                <p>{{ form.weight }}</p>
                <p>{{ form.order_type.errors }}</p>
                <p>{{ form.order_type.label }}</p>
                <p>{{ form.order_type }}</p>
                <p>{{ form.order_route.errors }}</p>
                <p>{{ form.order_route.label }}</p>
                <p>
                    <select name="order_route" id="id_order_route" required="">
                        {% for entry in form.order_route %}
                            {% if entry|striptags != "(XXA) service_airport_1 to (XXB) service_airport_2" %}
                                {{ entry }}
                            {% endif %}
                        {% endfor %}
                    </select>
                </p>
                <div class="form_buttons_div">
                    <button class="a_button_inside" id="calc_btn">Calculate</button>
                </div>
                <p>{{ form.cost.errors }}</p>
                <div id="cost_div">
                    <p>{{ form.cost.label }}</p>
                    <p id="cost_field" >{{ form.cost }}</p>
                    <p>BGN</p>
                </div>
                <div class="form_buttons_div">
                    {% if form.weight.value %}
                        <button class="a_button_inside" id="order-submit-btn" type="submit">Save</button>
                        <a class="a_button_inside" href="{% url 'Details-Order-Page' object.pk %}">Back</a>
                    {% else %}
                        <button class="a_button_inside" id="order-submit-btn" type="submit">Create</button>
                        <a class="a_button_inside" href="{% url 'Orders-Page' %}">Back</a>
                    {% endif %}
                </div>
            </form>
        </section>
    </section>
    <script>
        window.URLS = {
            'prices': '{% url "Prices-Page" %}',
            'discounts': '{% url 'Discount-Page' %}',
            "route": '{% url "Details-Route-REST" 0 %}',
        }
    </script>
    <script src="{% static 'calculate_price.js' %}"></script>
{% endblock %}