{% extends 'base_template.html' %}
{% load static %}
{% block content %}
    <section class="main_section">
        <section class="form_section">
            <h1 class="section_heading">Complete Current Flight</h1>
            <form class="form_flex" method="post">
                {% csrf_token %}
                <p>{{ form.flight_status.errors }}</p>
                <p>{{ form.flight_status.label }}</p>
                <p>
                    <select name="flight_status" id="id_flight_status" required="">
                        {% for entry in form.flight_status %}
                            {% if entry|striptags != "Cancelled" %}
                                {{ entry }}
                            {% endif %}
                        {% endfor %}
                    </select>
                </p>
                <div class="form_buttons_div">
                    <button class="a_button_inside" type="submit">Complete</button>
                    <a class="a_button_inside" href="{% url 'Operations-Page' %}">Back</a>
                </div>
            </form>
        </section>
    </section>
{% endblock %}