{% extends 'base_template.html' %}
{% load static %}
{% block content %}
    <section class="main_section">
        <section class="form_section">
            <h1 class="section_heading">Delete Current Route</h1>
            <form class="form_flex" method="post">
                {% csrf_token %}
                {% if object.current_capacity > 0 %}
                    <h2 class="section_heading_h2">Are you sure you want to delete the current Route</h2>
                {% endif %}
                <p>From &#187; {{ object.origin_airport }}</p>
                <p>To &#187; {{ object.destination_airport }}</p>
                <p>Drone Model: {{ object.route_drone }}</p>
                <p>Distance: {{ object.distance }} km</p>
                <p>Current Capacity: {{ object.current_capacity }} kg</p>
                <p>Maximum Capacity: {{ object.maximum_capacity }} kg</p>
                <div class="form_buttons_div">
                    <button class="a_button_inside" type="submit">Delete</button>
                    <a class="a_button_inside" href="{% url 'Operations-Page' %}">Back</a>
                </div>
            </form>
        </section>
    </section>
{% endblock %}