{% extends 'base_template.html' %}
{% load static %}
{% block content %}
    <section class="main_section">
        <section class="home_section">
            <article class="news_article">
                <h1 class="section_heading" >Contact Details</h1>
                <p>Address: Sofia, Bulgaria</p>
                <p>PO: 1000</p>
                <p>Phone: +359 000 00 00 00</p>
                <p>Email: martin1987bg@gmail.com</p>
                <h3 style="color: orange">This website is purely for testing no actual orders can and will be delivered</h3>
            </article>
        </section>
    </section>
{% endblock %}